/*        SIDEBAR START                 */

.s-main-nav {
	background-color: #070C1B;
}

.info-stl {
	border-left: 2px solid black;
	border-right: 2px solid black;
	border-radius: 5px;
	background-color: #FFFFFF !important;
	box-shadow: 0 0.1rem 0.2rem rgba(0,0,0,0.5);
	color: #000000 !important;
	font-size: 0.6rem;
	font-weight: bold;
	white-space: nowrap;
	text-decoration: none;
	padding: 0.4rem;	
}
.info-stl:hover {
	box-shadow: 0 0.1rem 0.35rem rgba(0,0,0,0.5);
	color: #000000 !important;	
}

.sidebar {
	background-color: #FFFFFF;
	height: 100%;
}

/*SCROLLBAR SIDEBAR START*/
.sidebar::-webkit-scrollbar {
	width: 7px;
}
.sidebar::-webkit-scrollbar-thumb {
	background: rgba(0,0,0,.0); 
}
.sidebar::-webkit-scrollbar-thumb:hover {
	background: rgba(0,0,0,.15); 
	border-radius: 8px;
	overflow: auto;	
}
/*SCROLLBAR SIDEBAR - FINISH*/

.s-background-on {
	height: 100vh;
}
.s-item-menu {
	font-size: 0.85rem !important;
	font-weight: bold;	
	background-color: #FFFFFF !important;
	box-shadow: rgba(0,0, 0, 0.04) 0px 4px 4px 0px inset;
	color: #525252 !important;
	text-decoration: none;	
	transition:all .3s ease-in-out;
}
.s-item-menu:hover {
	border-left: 4px outset rgba(0, 0, 0, 0.8);
	font-size: 0.9rem !important;
	font-weight: bold;
	background-color: #FFFFFF !important;
	box-shadow: rgba(0, 0, 0, 0.06) 0px 5px 4px 1px inset;
	color: #000000 !important;
	text-decoration: none;	
	transition:all .3s ease-in-out;	
	transform: scale(1);
}
.s-item-menu:active {
	transform: scale(0.9);
}

.s-item-submenu {
	color: #000000 !important;
	font-size: 0.75rem;
	white-space: nowrap;	
}

.s-item-submenu:hover {
	border-left: 4px solid skyblue;
	font-size: 0.80rem !important;
	font-weight: bold;
	background-color: #FFFFFF !important;
	box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,0.60);
	color: #000000 !important;
	text-decoration: none;	
}

/*ANIMATION GO TO RIGHT SUBMENU*/
.text-transform-x {
    transition: transform 0.5s ease, color 0.2s ease;
}

.text-transform-x:hover {
    transform: translateX(4px);
    transition: transform 0.8s ease, color 0.2s ease;
}
/*ANIMATION GO TO RIGHT SUBMENU FINISH*/

/*ANIMATION ICON COLOR SUBMENU*/
.icon-item-submenu i {
	font-size: 1rem;
	transition:all .8s ease-in-out;	
}
.icon-item-submenu i:hover {
	font-size: 1.2rem;
	color:#0038C8 !important;
	transition:all .8s ease-in-out;	
}

/*ANIMATION ICON COLOR SUBMENU*/

/* HOVER & CLICK ME START*/
.magnify-btn {
    padding: 12px 24px;
    background-color: hsl(222, 100%, 95%);
    color: hsl(243, 80%, 62%);
    border-radius: 6px;
    transition: transform 50ms ease-in-out;
}

.magnify-btn:hover {
    transform: scale(1.10);
}

.magnify-btn:active {
    transform: scale(1);
}

/* HOVER & CLICK ME FINISH*/


/*        SIDEBAR FINISH                 */


/*        NAVBAR START                 */
.navbar {
	background-color: #070C1B;
	height: 2.4rem; /* Size height */
}

.search-form {
	font-weight: bold;
	color: #212121;
}
.search-form:hover {
	font-weight: bold;
	color: #000000;
}

.search-icon {
	color: #353535;
}
.search-icon:hover {
	color: #000000;
}

.nav-item-color {
	transform: scale(1);
	color: #FFFFFF !important;
}
.nav-item-color:hover {
	transform: scale(1.1);
	color: #FFFFFF !important;
}
.nav-item-color:active {
	color: #FFFFFF !important;
	transition:all .02s ease-in-out;
	transform: scale(0.96);	
}

.nav-menu-color  {
	background-color: #FFFFFF;
	color: #000000 !important;
}
.nav-ddown-item {
	color: #000000 !important;
	font-size: 0.9rem;
	white-space: nowrap;	
}

.nav-ddown-item:hover {
	border-left: 4px solid rgba(0,0,0,0.80);;
	border-right: 4px solid rgba(0,0,0,0.80);;
	font-size: 1rem !important;
	font-weight: bold;
	background-color: #FFFFFF !important;
	box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,0.60);
	color: #000000 !important;
	text-decoration: none;	
}

.nav-ddown-item:active {
	transform: scale(0.96);	 
}

/*        NAVBAR FINISH                 */

.edit-bottom {
	color: #FFFFFF;
	background-color: #F2BE09;
	box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
}

.trash-bottom {
	color: #FFFFFF;
	background-color: #D40303;
	box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
}

.breadcrumb {
	background-color: #FFFFFF !important;
	align-content: center;
	box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,0.5) !important;
	transform: scale(1);	
	height: 2.2rem; /* Size height */
}
.breadcrumb:hover {
	box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,0.5) !important;
	transform: scale(0.99);	
}
.breadcrumb .breadcrumb-item a {
	padding-left: 10px;
	text-decoration: none !important;
}

.breadcrumb .breadcrumb-item a:hover {
	font-weight: bold; 
}

.dashboard-page {
	position: relative; left: 0px; top: 0px;
}

/*  LITTLE CSS  START */
.mtop16 {
	margin-top: 16px;
}
.mtop18 {
	margin-top: 18px;
}
.mtop20 {
	margin-top: 20px;
}
.mtop22 {
	margin-top: 22px;
}
.mtop24 {
	margin-top: 24px;
}

.mbottom16 {
	margin-top: 16px;
}
.mbottom18 {
	margin-top: 18px;
}
.mbottom20 {
	margin-top: 20px;
}
.mbottom22 {
	margin-top: 22px;
}
.mbottom24 {
	margin-top: 24px;
}


.ptop16 {
	padding-top: 16px;
}
.pbottom16 {
	padding-bottom: 16px;
}


.text-inside {
	font-size: 12px;
}

/*  LITTLE CSS  FINISH */


/*  LITTLE CSS BUTTON START  */

.btn-success-btb {
	background-color: #007BFF;
	outline: none;
	border: none;
	width: 100%;
	font-size: 1.2rem !important; 
	color: #CCCCCC !important;
	transition:all .05s ease-in-out;
	transform: scale(1);
}
.btn-success-btb:hover {
	background-color: #0073EE;
	font-size: 1.21rem !important;
	color: #D8D8D8 !important;
	font-weight: bold; 
	transition:all .05s ease-in-out;
}
.btn-success-btb:active {
	background-color: #0073EE;
	font-size: 1.22rem !important;
	color: #FFFFFF !important;
	font-weight: bold;
	transition:all .05s ease-in-out;
	transform: scale(0.98);
	box-shadow: 0 0.3rem 0.4rem rgba(0,0,0,0.65);
}

.border-all-10 {
	border-radius: 10px 10px 10px 10px;
}
.border-all-8 {
	border-radius: 8px 8px 8px 8px;
}
.border-all-6 {
	border-radius: 6px 6px 6px 6px;
}

/*  LITTLE CSS BUTTON FINISH  */


/* CARD CSS START */
.card-xleft {
	width: 15rem;
}
.card-xright {
	width: 40rem;
}

/* CARD CSS FINISH */




/*TABLES CSS*/
.table-titles {
	font-weight: bold;
}

/*TABLE CSS FINISH*/

/*FOOTER LINE CSS*/
.footer-line {
	background-color: #FFFFFF;
	border-radius: 6px;
	border-bottom: 3px solid #0D73FF;
	width: 100%;
}
/*FOOTER LINES CSS FINISH*/